---
const { title, img, titdesc, desc, url, badge, badge2, badge3, badge4, badge5, badge6, tags, target = "_blank" } = Astro.props;
import { Image } from "@astrojs/image/components";
---

<div
  class="rounded-lg bg-base-100 hover:shadow-xl transition ease-in-out hover:scale-[102%]"
>
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
      {
        img && (
          <Image
            src={img}
            aspectRatio="16:9"
            width={750}
            format="webp"
            alt={title}
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
        )
      }
      <div class="grow w-full">
        <h1 class="text-xl font-bold">
          {title}
          {badge && <div class="badge badge-secondary mx-2 mb-2">{badge}</div>}
          {badge2 && <div class="badge badge-secondary mr-2 mb-2">{badge2}</div>}
          {badge3 && <div class="badge badge-secondary mr-2 mb-2">{badge3}</div>}
          {badge4 && <div class="badge badge-secondary mr-2 mb-2">{badge4}</div>}
          {badge5 && <div class="badge badge-secondary-fix mr-2 mb-2">{badge5}</div>}
          {badge6 && <div class="badge badge-secondary-fix mr-2 mb-2">{badge6}</div>}
        </h1>
        <p class="py-1 text-1xl font-bold">{titdesc}</p>
        <p class="py-1 text-1xl">{desc}</p>
        <div class="card-actions justify-end">
          {
            tags &&
              tags.map((tag) => <div class="badge badge-outline">{tag}</div>)
          }
        </div>
      </div>
    </div>
  </a>
</div>
